#menu-bar {
  background-color: var(--bg-light);
  display: flex;
  position: fixed;
  width: 100%;
  height: 55px;
  justify-content: space-around;
  border-bottom: 2px solid #e0dfdf;
  z-index: 2;
  overflow: hidden;
}

.logo {
  height: 55px;
}

.list {
  display: flex;
  gap: 32px;
}

.list-menu, .list-social {
  display: flex;
  position: relative;
  gap: 32px;
  align-items: center;
}
.list-menu li, .list-social li {
  list-style: none;
}
.list-menu a {
  font-size: 14px;
  text-decoration: none;
  color: var(--blue-black);
  transition: .6s;
}
.list-menu a:hover {
  color: var(--green-light);
}

.list-social img {
  width: 30px;
}

#home {
  display: block;
  background: url("../img/bgbg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#home .container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.description h1 {
  color: var(--bg-light);
  font-size: 26px;
  font-weight: 400;
}
.description span {
  color: var(--green-light);
  font-size: 30px;
  font-weight: 700;
}
.description p {
  color: var(--gray-description);
  font-size: 16px;
}
.p1 {
  padding-left: 70px;
}

.btn {
  margin-top: 30px;
  padding: 8px 30px;
  border-radius: 5px;
  background-color: var(--blue-black);
  color: var(--bg-light);
  border: 1px solid var(--blue-light);
  cursor: pointer;
  transition: .6s;
}
.btn:hover {
  color: var(--blue-black);
  background-color: var(--blue-light);
  border: 1px solid var(--blue-black);
}

.foto {
  width: 350px;
}

#projetos {
  display: block;
  background: url("../img/DreamShaper_v5_Background_image_with_Gradient_development_them_0.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#projetos .container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 93vh;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.colecao {
  display: flex;
  gap: 32px;
  margin-top: 10px;
}

.frontend {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}

.gamedev {
  display: flex;
  flex-direction: column;
}

.cards {
  width: 200px;
  height: 240px;
  background-color: var(--blue-black);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.cards h1 {
  font-size: 16px;
  margin: 8px 0;
}

.image {
  width: 160px;
  height: 140px;
  background-color: var(--gray-description);
  border-radius: 5px;
}
.circles {
  display: flex;
  gap: 5px;
}

.circle {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-color: var(--gray-description);
}

.title {
  display: flex;
  text-align: left;
  font-size: 24px;
  color: var(--green-light);
}

#sobre {
  display: block;
  background: url("../img/back.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#sobre .container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 93vh;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.sobre-front {
  display: flex;
  justify-content: center;
}
.img1 {
  width: 240px;
  height: 280px;
  border-radius: 5px;
}

.sobre-p1 {
  font-size: 16px;
  line-height: 24px;
  color: var(--bg-light);
  max-width: 400px;
  padding: 100px 0 150px 32px;
}

.sobre-game {
  display: flex;
  margin-top: -125px;
}

.img2 {
  width: 240px;
  height: 280px;
  border-radius: 5px;
}

.sobre-p2 {
  font-size: 16px;
  line-height: 24px;
  color: var(--bg-light);
  max-width: 400px;
  padding: 110px 32px 130px 0;
}

.techs h1 {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: var(--blue-black);
  margin-left: -35px;
}

.circles-tech {
  display: flex;
  gap: 24px;
  margin-top: 10px;
}
.circle-tech img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

#contato {
  display: flex;
  width: 100%;
  height: 93vh;
  justify-content: center;
  align-items: center;
  background: url("../img/bgbg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#contato .container {
  display: flex;
  max-width: 860px;
  width: 720px;
  height: 60%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 8px;
}

#contato .container input {
  width: 80%;
  height: 50px;
  border-radius: 8px;
  margin-bottom: 12px;
  padding-left: 10px;
}

.btn-cont {
  padding: 8px 50px;
}

#contato h1 {
  margin-bottom: 15px;
  color: var(--green-light);
  font-size: 36px;
}